.home-img {
    margin: auto;
    margin-bottom: 8%;
    display: block;
    text-align: center;
    width: 100%;
    opacity: 0.5;
}

.overlay-text {
    height: 10em;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #37392e;
}