
.barriers-home {
    position: relative;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: 24333F;
    text-align: center;
}

.home-img {
    width: 100%;
    opacity: 0.5;
}

.overlay-text {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #24333f;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 37px;
}
