.barriers-mission {
    display: flex;
    flex-direction: row;
    background-image: url("mission.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10vw;
}

.mission-text{
    display: flex;
    flex-direction: column;
    margin-left: 9vw;
    margin-bottom: 15vw;
}

.mission-text h1{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 3.5vw;
    color: #1D537B;
}

.mission-text p{
    font-family: 'Poppins', sans-serif;
    margin-top: -1.4vw;
    font-size: 1.7vw;
}

.mission-text-button button{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1.5vw;
    width: 17vw;
    height: 3vw;
    border-radius: 13px;
    border: none;
    background-color: #FFBD59;
}

.mission-pic{
    display: flex;
    flex-direction: column;
    margin-left: 7vw;
}

#mission-pic{
    position: absolute;
    width: 30vw;
    margin-left: 1vw;
}

#mission-frame{
    z-index: 12;
    width: 30vw;
    margin-top: 1vw;
}

/*.mission-main{
    color: #37392e;
    font-family: 'Poppins', sans-serif;
    justify-content: space-evenly;
    font-size: 12pt;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission-main h1{
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 28pt;
    font-weight: 900;
    color: #1D537B;
} 

.mission-main h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    width: 74.4%;
    margin: auto;
}


.barriers-tidbits-about-us{
    color: #24333F;
    font-family: 'Poppins';
    margin-left: 10%;
    margin-right: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barriers-tidbits-about-us h1{
    text-align: center;
    color: #1D537B;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-size: 28pt;
}

.barriers-tidbits-about-us h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    width: 74.4%;
    margin: auto;
}

.barriers-tidbits-about-us p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    width: 74.4%;
    margin: auto;
}

.mission-main button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    margin: 30.05px 0 20px 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 20px;
    width: 227px;
    height: 40px;
    background-color: #FFBD59;
  }

.dog2{
    position: absolute;
}

.w2frame{
    margin-top: 12px;
	margin-right: 5vw;
	z-index: -1;
}

.firstTid{
    position: absolute;
}

.w3frame{
    margin-top: -8px;
	margin-right: 3.5vw;
	z-index: 2;
}

.secondTid{
    position: absolute;
}

.w4frame{
    margin-top: -15px;
	margin-left: 4.5vw;
	z-index: 2;
}

.thirdTid{
    position: absolute;
}

.w5frame{
    margin-top: -14px;
	margin-right: 4.5vw;
	z-index: 2;
}*/