.mission-main{
    color: #37392e;
    font-family: 'Poppins', sans-serif;
    justify-content: space-evenly;
    text-align: center;
    font-size: 12pt;
    margin-left: 10%;
    margin-right: 10%;
}

.mission-main h1{
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 28pt;
    color: #000000;
} 

.mission-main h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    width: 74.4%;
    margin: auto;
}

.learn-more{
    border-radius: 8px;
    background-color: #FFBD59;
    border: none;
}
