.barriers-who-we-are{
    color: #24333F;
    font-family: 'Poppins';
    margin-left: 10%;
    margin-right: 10%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barriers-who-we-are h1{
    text-align: center;
    color: #1D537B;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    font-size: 28pt;
}   

.barriers-who-we-are h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    width: 74.4%;
    margin: auto;
}

.barriers-who-we-are button {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16;
    font-style: bold;
    color: #24333F;
    cursor: pointer;
    border-radius: 10px;
    width: auto;
    text-align: justify;
    background-color: #FFBD59;
    box-shadow: 0 1px black;
  }
  
.barriers-who-we-are button:hover {
    background-color: #ed9d26;
    border-radius: 10px;
    width: auto;
    text-align: justify;
    box-shadow: 0 2px black;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.first{
    position: absolute;
    left: 0%;
}

.circles-flex{
    display: flex;
    flex-direction: column;
}

.second{
    position: absolute;
    top: auto;
    left: 0%;
}

.dog{
    margin-top: 31%;
    margin-left: -2%;
    position: absolute;
}
