@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');
.barriers-footer-additions{
  overflow-x: hidden !important;
}

#addFooterTrees{
  position: absolute;
  margin-left: 85vw;
  width: 15vw;
  overflow-x: hidden;
}

#addFooterTree{
  position: absolute;
  margin-left: 92vw;
  margin-top: -7vw;
  width: 6vw;
}

#addFooter{
  width: 100vw;
  height: auto;
  margin-bottom: -4px;
}


@media only screen and (max-width: 887px){
  .barriers-footer-additions{
    display: none;
  }
  
}
