@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');

.contactContainer {
  font-family: 'Poppins', sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
}

.contactFormContainer {
  display: flex;
  width: 80vw;
  /* border: solid black; */
  flex-direction: column;
}

.contactFormContainer > p {
  font-size: 12pt;
  margin-top: 25px;
  margin-bottom: 30px;
}

.contactFormContainer > label, input {
  display: block;
}

.contactFormContainer > form > button {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  float: right;
  margin: 7px 0 20px 0;
  width: 90px;
  height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #FFBD59;
}

.contactFormContainer > H1 {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #1D537B;
  font-size: 28pt;
  margin: 30px 0 -20px 0;
  padding: 0;
}

.CUBubbles {
  display:none;
}

textarea {
  font-family: 'Poppins', sans-serif;
  border-radius: 7px;
  height: 142px;
  width: 293px;
  border: solid black 2px;
  resize: none;
}

 input {
  font-family: 'Poppins', sans-serif;
  border-radius: 7px;
  width: 293px;
  height: 33px;
  border: solid black 2px;
  margin-bottom: 7px;
}

.secondInput {
  margin-bottom: 24px;
}
@media screen and (min-width:768px) {
  .contactFormContainer > form > button {
    float: none;
    margin: 7px 0 87px 320px;
  }
  input {
    width: 400px;
  }
  textarea {
    width: 400px;
  }
}
@media screen and (min-width: 1024px) {
  input {
    width: 864px;
    margin-bottom: 30px;
    height: 69px;
    font-size: 32px;
  }
  textarea {
    width: 864px;
    height: 215px;
    font-size: 18px;
  }
  .CUBubbles {
    display:block;
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
  }
  .CUGreen {
    top: 20vh;
    left: 94vw;
  }
  .CUBlueHalf {
    top: 68%;
  }
  .CUOrange {
    top: 52em;
    left: 80%;
  }
  .contactFormContainer > p {
    font-size: 24px;
  }
  .contactFormContainer > H1 {
    font-size: 64px;
    margin: 126px 0 -20px 0;
  }
  .contactFormContainer > form > button {
    width: 173px;
    height: 52px;
    margin: 7px 0 87px 700px;
    font-size: 24px;
    margin-top: 15px;
    float: none;
  }
  label {
    font-size: 24px;
  }
}

