@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&display=swap');

.barriers-footer{
  padding-top: 40px;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 60px;
  background-color: #76854C;
}

.footer-content{
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.footer-column{
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0 auto;
}

.footer-one{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-one a{
 z-index: 5;
}

.footer-two, .footer-three, .footer-four{
  margin: auto;
}

.footer-three{
  margin-top: 30px;
  line-height: 1.5;
}

.footer-four{
  margin-top: 30px;
  line-height: 2;
}

.footer-five{
  margin-top: 25px;
}

.footer-four a{
  font-size: 1.3vw;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

.footer-five a{
  font-size: 1.3vw;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}


#footer_tree{
  width: 6vw;
  position: absolute;
  margin-left: 4vw;
}

#footer_tree_two{
  z-index: 5;
  width: 6vw;
}

#footer_logo{
  width: 10vw;
  z-index: 5;
  margin-left: 6.5vw;
}

#title{
  font-size: 3vw;
  margin-bottom: 0.5vw;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: #EAD8D3;
  font-weight: 900;
}

#subtitle{
  font-size: 1.5vw;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

.footer-yellow{
  color: #FFBD59;
  font-weight: bold;
}

.footer-links{
  font-size: 1.3vw;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
}

.footer-socials{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-socials a{
  font-size: 1.3vw;
  font-family: 'Poppins', sans-serif;
  margin-left: 10px;
  color: #FFFFFF;
}

.footer-heart{
  font-size: 5vw;
}

.social-logos{
  width: 2vw;
}

.footer-mobile{
  display: none;
}

.mobile-footer-socials{
  display: flex;
  flex-direction: row;
}



@media only screen and (max-width: 768px){
  .footer-web{
    display: none;
  }

  .footer-mobile{
    display: flex;
  }

  .social-logos{
    width: 9vw;
  }

  .include-motto a{
    font-size: 3.5vw;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
  }

  .include-motto{
    margin-left: 2vw;
  }

  #footer_tree{
    width:13vw;
    position: absolute;
    margin-left: 0vw;
  }

  #footer_logo{
    width: 23vw;
    z-index: 5;
    margin-left: 4vw;
  }

  #title{
    font-size: 6vw;
  }

  .footer-heart{
    font-size: 10vw;
  }

  #footer-instagram{
    margin-left: 3vw;
    margin-right: 3vw;
  }
}
