.slider {
    position: relative;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;

}

.CPimage {
    height: 25%;
    display: flex;
    justify-content: center;
    align-self: center;
    border-radius: 10px;
}

.CPTitle {
    width: 80%;
    border-radius: 10px;
    text-align: center;
    color: black;
    font: Arial;
    font-size: 50px;
}

.CPCaption {
    max-width: 50%;
    border-radius: 10px;
    text-align: center;
    border: 20px;

    color: black;
    font: Arial;
    font-size: 25px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: grey;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: grey;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}