@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');
.slider {
    position: relative;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%; 
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.CPimage {
    max-height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:75%;
    justify-content: center;
    align-self: center;
    border-radius: 5%;
}

.CPTitle {
    width: 100%;
    align-self: center;
    text-align: center;
    color: #1D537B;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 25px;
}
.CPsubtitle {
    max-width: 100%;
    padding-left: 25px;
    text-align: left;
    border: 10px;
    margin: 0;
    color: black;
    font: Arial;
    font-size: 15px;
}
.CPCaption{
    /* align-self: center;
    text-align: center; */
    max-width: 100%;
    text-align: left;
    border: 10px;
    color: black;
    font: Arial;
    font-size: 15px;
    /* padding-bottom: 30px; */
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 5px;
    font-size: 3rem;
    color: grey;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 5px;
    font-size: 3rem;
    color: grey;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    transition-duration: 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide.active {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}

.projectInfo {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}

.down-arrow {
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: grey;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    margin-bottom: 5px;
}