/* .background {
  background-image: url('./images/Our_Team.svg');
  background-repeat: no-repeat;
  height: 100%;
} */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@900&family=Poppins:wght@400;600&display=swap');

/* .desktop {
  background-image: url('desktop_bottom.png');
  background-size: cover;
} */
.intro-heading {
  padding-top: 10%;
  margin-left: 7%;
}

.intro-paragraph {
  
  padding-left: 7%;
  padding-right: 7%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.65vw;
}

.headings {
  color: #1D537B;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 3.5vw;
}

.list-style {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
  }

  .barriers-our-team-body {
    background-image: url('mobile_1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .barriers-our-team-body p{
    padding-bottom: 19vw;
  }

  .margin-text {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5vw;
  }

  .our-team{
    background-image: url('forest_bg_ourTeam.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
    display: flex;
    padding-bottom: 10vw;
  }


  .barriers-our-team-body1 {
    padding-left: 4%;
    padding-right: 4%;
    background-image: url('mobile_3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 13vw;
    margin-bottom: -20vw;
  }

  .team-list {
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: 'Poppins', sans-serif;
  }

  .team-list li{
    font-size: 3.5vw;
  }

  .team-center {
    text-align: center;
    color:#1D537B;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 8vw;
    margin-bottom: -2vw;
  }

  .image-size {
    width: 70vw;
    margin-left: 7%;
  }

  .image-size1 {
    width: 70vw;
    /* margin-left: 10%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
  }

  .desktop-image-size1{
    width: 80%;
  }

  .image-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .image-one {
    width: 100%;
    /* height: 90vh; */
  }

  .ul-holder {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
  }

  .ul-holder-desktop {
    display: flex;
    width: 100%;
  }

  .margin-shift {
    margin-left: 20%;
    font-size: 14px;
  }

  .margin-shift-1 {
    margin-left: 20%;
    font-size: 35px;
  }
  
  .team-list {
    padding: 0 20px;
    margin-bottom: 5vw;
  }
  
  .team-list ul {
    margin: 0;
    padding: 0;
  }

  .team-flex-container {
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    
}

  .flex-child-team {
      flex: 1;
      margin-top: 10%;
      font-size: 20px;
      /* font-family: ; */
      /* margin-left: 20%; */
      /* padding: 5%; */
  }  

  .temp {
    /* float: left; */
    /* padding-left: 3%; */
    /* margin-top: 5%; */
    width: 100%;
  }

  .flex-child-team:first-child {
      margin-right: 20px;
  } 

  .team-background-Desktop {
    background-image: url('forest_bg_ourTeam.svg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 12vw;
    display: none;
  }

  .volunteers {
    font-family: 'Poppins', sans-serif;
    background-image: url('desktop_bg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-bottom: 500vh; */
  }

  .team-subtitle-volunteer{
    font-size: 4vw;
    margin-bottom: 5vw;
    color: #24333F;
  }


  @media only screen and (min-width: 768px) {
    .team-background{
      display: none;
    }
    .team-background-Desktop {

      display: block;
    }

    .team-list li{
      font-size: 1.65vw;
    }

    .margin-shift{
      font-size: 1.7vw;
    }

    .mobile {
      display: none;
    }

    .desktop {
      display: block;
      /* padding-top: 3%; */
    }

    .volunteers {
      padding-top: 5%;
      padding-bottom: 10%;
    }
  }